body{
    background-image: url(imgs/background.jpg);
    font-family: 'Courgette';
}
header{
    text-align: center;
}
table ,tr,th,td{
    border: solid black 2px ;
    border-collapse: collapse;
   
}
#form{

    float: left;
    background-color:whitesmoke opacity 65%; 

} 